forum-data/*
!forum-data/.gitkeep
!forum-data/.htaccess
!forum-data/index.html
!forum-data/web.config
!forum-data/avatars/
forum-data/avatars/*
!forum-data/avatars/.gitkeep

TODO-optymalizacja-forum.log
ForumForgeCMS-*.zip
*.sqlite
*.sqlite-shm
*.sqlite-wal
admin-initial-password.txt
.DS_Store
Thumbs.db
